{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="bg-error min-vh-100 d-flex flex-column justify-content-center">

  <!-- Start wrapper-->
  <div class="pt-5">

    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-lg-12">
          <div class="text-center error-pages">
            <h1 class="error-title text-primary mb-3">Coming Soon</h1>
            <h2 class="error-sub-title text-white">আমরা আসছি নতুন ভাবে</h2>

            <p class="error-message text-white text-uppercase">সাময়িক সমস্যার জন্যে দুঃখিত, আপনি লগিন করে কাজ করতে পাড়বেন, ধন্যবাদ
            </p>

            <div class="mt-4 d-flex align-items-center justify-content-center gap-3">
              <a href="index-2.html" class="btn btn-primary rounded-5 px-4"><i class="bi bi-house-fill me-2"></i>লগিন করুন </a>
              <a href="javascript:void();" class="btn btn-outline-light rounded-5 px-4"><i
                  class="bi bi-arrow-left me-2"></i>রেজিস্টার করুন</a>
            </div>

            <div class="mt-4">
              <p class="text-light">Copyright © 2025 | All rights reserved by BoostMasterBd Pro</p>
            </div>
            <hr class="border-light border-2">
            <div class="list-inline contacts-social mt-4">
              <a href="javascript:;" class="list-inline-item bg-facebook text-white border-0"><i
                  class="bi bi-facebook"></i></a>
              <a href="javascript:;" class="list-inline-item bg-twitter text-white border-0"><i
                  class="bi bi-twitter"></i></a>
              <a href="javascript:;" class="list-inline-item bg-google text-white border-0"><i
                  class="bi bi-google"></i></a>
              <a href="javascript:;" class="list-inline-item bg-linkedin text-white border-0"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!--end row-->
    </div>

  </div><!--wrapper-->



</div>

{% endblock %}